{% extends 'home.html'%}

<body class="about-page">


  <main class="main">

    <!-- Skills Section -->
    <section id="skills" class="skills section">
      {% block content %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 justify-content-center">
          <div class="col-lg-9">
            <div>
              <h1  style="color: #18d26e;">STACKS</h1>
         
              <ul>
                <li>Django | RESTful API</li>
                <li><i class="fa-brands fa-python icon-large" style="font-size: 32px;"></i></li>
                <li><i class="fa-brands fa-html5 icon-large" style="font-size: 32px;"></i></li>
                <li><i class="fa-brands fa-css3-alt icon-large" style="font-size: 32px;"></i></li>
                <li><i class="fa-brands fa-github icon-large" style="font-size: 32px;"></i></li>
                <li><i class="fa-brands fa-git" style="font-size: 32px;"></i></li>
                <li><i class="fa-brands fa-wordpress icon-large" style="font-size: 32px;"></i></li>
              </ul>
 
            </div>
     
            <div>
              <!-- <h3>PYTHON | DJANGO | RESTAPI | HTML | CSS | SQLITE | GIT</h3> -->
            </div>
             
          </p>
        
        </div>
        </div>

      </div>
      <div class="col-lg-9 content">
            
        <h2>Backend Engineer </h2>
        <p class="fst-italic py-3">
           <h4>Hi, I'm  Buchi Rex-David. I hold a Bachelor's degree in Mechanical Engineering from Madonna University, Akpugo Campus, Nigeria.
            I am also a certified Python developer and i use my python skills for backend development.
            I am a proficient Backend Engineer with a drive to create scalable, efficient and secure server-side applications.
            My overall goal is to solve complex problems, optimizing performance and ensuring seamless user experiences</h4></p>
             
          </p>
      </div>
     

    </section><!-- /Skills Section -->

   

    <!-- Interests Section -->
    <section id="interests" class="testimonials section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>I'M INTERESTED IN</h2>
      
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper" data-speed="600" data-delay="5000">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 40
                },
                "1200": {
                  "slidesPerView": 3,
                  "spaceBetween": 20
                }
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item" "="">
            <p>
              <i class=" bi bi-quote quote-icon-left"></i>
                <span>WEB DEVELOPMENT</span>
                <i class="bi bi-quote quote-icon-right"></i>
                </p>
           
            
              </div>
           </div>  <!-- End testimonial item -->


            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>GAME DEVELOPMENT</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
      
              </div>
            </div><!-- End testimonial item -->


            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>WEB3</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
      
              </div>
            </div><!-- End testimonial item -->


            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>BLOCKCHAIN DEVELOPMENT</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
      
              </div>
            </div><!-- End testimonial item -->


            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>SOLIDITY PROGRAMMING</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
      
              </div>
            </div><!-- End testimonial item -->


            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>PYTHON PROGRAMMING</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
      
              </div>
            </div><!-- End testimonial item -->


            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>FOOD</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
      
              </div>
            </div><!-- End testimonial item -->


            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>SOCCER</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
            
              </div>
            </div><!-- End testimonial item -->


            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>MUSIC</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
             
              </div>
            </div><!-- End testimonial item -->


            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>DEFI</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
           
              </div>
            </div><!-- End testimonial item -->

            
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Testimonials Section -->

  </main>
  {% endblock %}
</body>
  

